@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}
body {
  font-family: Montserrat, sans-serif;
}
main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container {
  min-width: 700px;
}
.input {
  margin: 10px 0;
  flex-basis: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.input label {
  flex-basis: 30%;
}
.show {
  opacity: 1;
  transition: max-width 1s, opacity .5s ease .5s;
  /* transition: all 0.5s; */
}
.hidden {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  transition: max-width .7s, opacity .5s ease .5s;
  overflow: hidden;
  /* transition: all 0.5s; */
}
#ticket table {
  border: 1px solid black;
}
#ticket table tr,
#ticket table td {
  padding: 20px;
}
