@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}
body {
  font-family: Montserrat, sans-serif;
}
main {
  width: 800px;
}
.form {
  margin: 20px;
}
.input {
  flex-basis: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.input label {
  flex-basis: 30%;
}
.ticket {
  opacity: 1;
  transition: all 0.5s;
  margin: 20px;
}
.ticket table {
  border: 1px solid black;
}
